<header id="header">
    <div id="logo-group">
        <span id="logo"><img src="../../../Global/Content/img/wf/wf_logo.png" alt="UA Portal" /></span>
    </div>
    <div class="project-context">
        <span class="label">Web App: <strong>UA Portal > UCA - Credit Application > Direct Auto</strong></span>
        <span data-toggle="dropdown" class="project-selector dropdown-toggle" id="user-menu" role="button" aria-haspopup="true" aria-expanded="false">
            Welcome, <span class="wf-username">Bruce Wayne</span>
        </span>
        <div class="dropdown-menu" aria-labelledby="user-menu">
            <a class="dropdown-item" href="#"><span class="fa fa-print"></span> Print</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><span class="fa fa-sign-out"></span> Log Off</a>
        </div><!-- end dropdown-menu-->
    </div><!-- project-context -->
    <button type="button" class="btn btn-wf btn-navbar pull-right navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
    </button>
    <nav class="navbar navbar-inverse pull-right navbar-collapse collapse">
        <ul class="nav nav-pills">
            <!-- mega menu -->
            <li class="nav-item dropdown mega-dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="app-menu" href="#" role="button" aria-haspopup="true" aria-expanded="false">External Links</a>
                <div class="dropdown-menu mega-dropdown-menu" aria-labelledby="app-menu">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <h6 class="dropdown-header">External Links</h6>
                        <a class="dropdown-item" href="https://www.autocheck.com/members/gateway.do" target="_blank">Auto Check</a>
                        <a class="dropdown-item" href="http://nada3.nada.com/custom/wellsfargo/login.aspx" target="_blank">NADA</a>
                        <a class="dropdown-item" href="http://www.blackbookusa.com/bb/logon.asp?cntl=39708B364BdD1A1YB0B927B&func=100" target="_blank">Black Book</a>
                        <a class="dropdown-item" href="http://accurint.com/" target="_blank">Accurint</a>
                        <a class="dropdown-item" href="https://www.manheim.com/login/?back=http%3a%2f%2fwww.manheim.com%2fmembers%2finternetmmr%2f" target="_blank">Manheim</a>
                        <a class="dropdown-item" href="https://storeportal-mn.wellsfargo.com/portal/site/RetailStorePortal/Service/" target="_blank">Store Portal</a>
                        <a class="dropdown-item" href="http://www.zillow.com/" target="_blank">Zillow</a>
                        <a class="dropdown-item" href="http://maps.google.com/maps?hl=en&tab=wl" target="_blank">Google Maps</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <h6 class="dropdown-header">External Links</h6>
                        <a class="dropdown-item" href="http://formsonline.homestead.wellsfargo.com/Search.aspx" target="_blank">Forms Online</a>
                        <a class="dropdown-item" href="https://www.wellsfargodealerservices.com/dealers/toolsservices/payoffquote/DealerPayoffQuote.aspx" target="_blank">Dealer Services Payoff website</a>
                        <a class="dropdown-item" href="http://sming.homestead.wellsfargo.com/procedures/PROCEDURindex.htm" target="_blank">P&P (Policy and Procedures )</a>
                        <a class="dropdown-item" href="http://www.411.com/" target="_blank">411.com</a>
                        <a class="dropdown-item" href="http://www.manta.com/" target="_blank">Manta</a>
                        <a class="dropdown-item" href="http://www.theworknumber.com/" target="_blank">Worknumber.com</a>
                        <a class="dropdown-item" href="https://epss.wellsfargo.com/EPSS/dnc.aspx" target="_blank">EPSS – Enterprise Privacy Scrub Service</a>
                        <a class="dropdown-item" href="https://epss.wellsfargo.com/privacypreference/ppmrmain.aspx" target="_blank">PPMR – Link to a form online Privacy Preference Maint Request</a>
                        
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <h6 class="dropdown-header">External Links</h6>
                        <a class="dropdown-item" href="http://www.federalreserve.gov/creditcardcalculator/Default.aspx" target="_blank">Federal Reserve Site – Credit Card Payment Calculator</a>
                        <a class="dropdown-item" href="http://privacytm.hosting.wellsfargo.com/home.aspx" target="_blank">Telephone Solicitations Guidelines Tool – State guidelines for telemarketing laws</a>
                        <a class="dropdown-item" href="http://privacytm.hosting.wellsfargo.com/UserEdit.aspx?refpg=home.aspx" target="_blank">Telephone Solicitations Site</a>
                        <a class="dropdown-item" href="http://ig.wellsfargo.com/portal/page/portal/WFAF" target="_blank">Information Gateway D-trac Portal</a>
                        <a class="dropdown-item" href="http://eai.wellsfargo.com:9040/compass/routeToLogin.do?status=forceLogin" target="_blank">Compass </a>
                        <a class="dropdown-item" href="https://fsbpflo.wellsfargo.com:8449/xpm2/jsp/Login.jsp" target="_blank">XPM Web Station</a>
                        <a class="dropdown-item" href="http://enetwork.wellsfargo.com/bu/cs/risk_management/cashflow/Default.aspx" target="_blank">Cash Flow Tool </a>
                        <a class="dropdown-item" href="http://ops.wellsfargo.com/ops" target="_blank">OPS – Mortgage Speed Trap </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <h6 class="dropdown-header">External Links</h6>
                        <a class="dropdown-item" href="http://sming.homestead.wellsfargo.com/procedures/ACD/CVT-DocPrep/LeaveEarningsStatementTool.xls" target="_blank">Prorate Tool </a>
                        <a class="dropdown-item" href="http://sming.homestead.wellsfargo.com/procedures/WFAFDev/LevelTwoPages/ACDindex.html" target="_blank">Link for LES/BFS tool</a>
                        <a class="dropdown-item" href="https://wfflegacy.ts.wellsfargo.com/Citrix/XenApp/auth/login.aspx?CTX_FromLoggedoutPage=1" target="_blank">Citrix Access Platform</a>
                        <a class="dropdown-item" href="http://www.fedex.com/Tracking" target="_blank">FedEx Tracking</a>
                        <a class="dropdown-item" href="https://procurement.portal.wellsfargo.com/portal/site/Procurementsite/template.MAXIMIZE/menuitem.d74ceafaa74005556db2461025e152a0/?javax.portlet.tpst=6585503a470eeee6d6f21e10f4ccb1a0_ws_MX&javax.portlet.prp_6585503a470eeee6d6f21e10f4ccb1a0=viewID=staffingInsert&javax.portlet.begCacheTok=com.vignette.cachetoken&javax.portlet.endCacheTok=com.vignette.cachetoken&name=Express%20Mail%20(eSO)%20&name1=Services%20&homeheader=1%20title=Express%20Mail%20(eSO)" target="_blank">Electronic Shipping Option</a>
                        <a class="dropdown-item" href="https://sv-site1.salesandservice.wellsfargo.com/svp/servlet/SignonMessageServlet" target="_blank">Store Vision Platform (SVP)</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" ng-click="root.showDisclosure()" ng-show="root.showDiclosureButton">Disclosures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript('View Logs!');">View Logs</a>
            </li>
        </ul>
    </nav>
</header>

<script type="text/javascript">
    $(function () {
        //header nav mega-menu
        $("#header .dropdown").hover(
            function () {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
                $(this).toggleClass('open');
            }
        );
    });
</script>