<div class="row">
    <div class="col-xs-12" ng-hide="main.isPageDecision">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" ng-repeat="route in main.allRoutes">
                <a class="nav-link" ng-link="{{route.routeValue}}" ng-click="main.tabClick(route)" ng-class="{active:route.routeName==main.currentRoute.routeName}">{{route.routeName}}</a>
            </li>
        </ul>
    </div><!-- col-xs-12 -->
</div><!-- row -->

<div class="row req-info-container">
    <div class="col-xs-12">
        <p class="text-right">
            <small class="reqfield">Indicates a required field.</small>
        </p>
    </div><!-- col-xs-12 -->
</div><!-- row -->